* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
  }

  .header{
    background-color: #f0f2f5;
    padding: 10px 20px;
    height: 60px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .button{
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
  }

  #home-button{
    background-color: #007bff;
    color: white;
  }

  .container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: calc(100% - 60px); /* Need to adjust based on header height */
  }

  .assignment-area{
    min-width: 150px;
    width: 400px;
    height: 100%;
    border-right: 2px solid black;
  }

  #assignment-list{
    width: 100%;
    height: calc(100% - 60px); /* Need to adjust based on header height */
  }

  .scrollable{
    overflow-y: scroll;
  }

  .assignment{
    display: block;
    background-color: white;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 12pt;
    cursor: pointer;
  }

  .submission{
    border-collapse: collapse;
    display: block;
    background-color: white;
    width: 100%;
    height: 40px;
    border: none;
    border: 1px solid black;
    font-size: 12pt;
    cursor: pointer;
  }

  .assignment:hover{
    background-color: #f0f2f55f;
  }

  #placeholder{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
  }

  #assignment-submission{
    flex-grow: 1;
    height: calc(100% - 60px); /* Need to adjust based on header height */
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  #drop-area{
    background-color: #f0f2f55f;
    border: 1px dashed grey;
    border-radius: 30px;
    width: 640px;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
  }

  #drop-area p{
    color: grey;
  }

  #video-label{
    color: grey;
    cursor: pointer;
  }

  #video-label:hover{
    text-decoration: underline;
  }

  #file-label {
    display: block;
    color: grey;
  }

  #video-player{
    width: 640px; 
    aspect-ratio: 16/9;
  }

  #submission-control{
    width:640px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .submission-button{
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
    color: white;
    margin: 5px;
  }

  #submit{
    background-color: #218838;
  }

  #remove {
    background-color: #e62429;
  }

  .rubric {
    /* This width will most likely have to be changed depending on the number of ratings in the rubric */
    width: 800px;
    border-collapse: collapse;
    margin: 20px 0; 
  }

  .rubric th, .rubric td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }

  .rubric th {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.261);
  }

  .rubric tr:nth-child(even){
    background-color: #f0f2f55f;
  }

  .rubric td{
    min-width: 40px;
  }