/* Root Colors */
:root {
  --charcoal: #233d4d;
  --pumpkin: #fe7f2d;
  --sunglow: #fcca46;
  --white: #ffffff;
  --light-gray: #f0f0f0;
  --font-main: Arial, sans-serif;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    color: var(--charcoal);
    border-collapse: collapse;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    height: 100vh;
    
  }

  .header{
    background-color: white;
    padding: 35px 20px;
    height: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    gap: 30px;
    position: sticky;
    top:0;
    z-index: 10;
  }

  .subheader{
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
  }

  .button{
    border: none;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    font-size: medium;
    background-color: transparent;
    color: var(--charcoal);
    border: 1px solid var(--charcoal);
  }

  .button:hover{
    background-color: var(--charcoal);
    color: var(--white);
    border: 1px solid white;
  }

  #back-button{
    margin: 0 0 40px;
  }

  .mobile-button{
    display: none;
    margin: 20px 10px 10px;
  }

  .container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: calc(100% - 70px); /* Need to adjust based on header height */
  }

  .assignment-area{
    min-width: 150px;
    width: 300px;
    height: 100%;
  }

  #assignment-list{
    width: 100%;
    height: calc(100% - 70px); /* Need to adjust based on header height */
  }

  #assignment-list button:nth-child(odd){
    background-color: #fafafa;
  }

  .scrollable{
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .assignment{
    display: block;
    background-color: white;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 12pt;
    cursor: pointer;
    text-align: left;
    padding: 0 20px;
  }

  .submission{
    border-collapse: collapse;
    display: block;
    background-color: white;
    width: 100%;
    height: 40px;
    border: none;
    border: 1px solid black;
    font-size: 12pt;
    cursor: pointer;
  }

  #submission-list{
    margin: 15px 0px;
  }

  .assignment:hover, .submission:hover, #assignment-list button:nth-child(odd):hover{
    background-color: #e3e3e35f;
  }

  #placeholder{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
  }

  #assignment-submission{
    flex-grow: 1;
    height: 100%; /* Need to adjust based on header height */
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  #drop-area{
    background-color: #f0f2f55f;
    border: 1px dashed grey;
    border-radius: 30px;
    width: 640px;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
  }

  #drop-area p{
    color: grey;
  }

  #video-label{
    color: grey;
    cursor: pointer;
  }

  #video-label:hover{
    text-decoration: underline;
  }

  #file-label {
    display: block;
    color: grey;
  }

  #video-player{
    width: 640px; 
    aspect-ratio: 16/9;
  }

  #submission-control{
    width:640px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .submission-button{
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80px;
    color: white;
    margin: 5px;
  }

  #submit{
    background-color: #218838;
  }

  #remove {
    background-color: #e62429;
  }

  .rubric {
    /* This width will most likely have to be changed depending on the number of ratings in the rubric */
    width: 800px;
    border-collapse: collapse;
    margin: 20px 0; 
  }

  .rubric th, .rubric td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
  }

  .rubric th {
    color: black;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.261);
  }

  .rubric tr:nth-child(even){
    background-color: #f0f2f55f;
  }

  .rubric td{
    min-width: 40px;
    color: black;
  }

  @media (max-width: 600px) {
    .mobile-button{
      display: block;
    }

    .container, .assignment-area, #assignment-submission, #placeholder {
        flex-direction: column;
        padding: 0 10px;
        width: 100%;
    }

    .assignment-area{
      display: none;
    }

    #assignment-submission {
        width: 100vw; 
    }
}

@media (min-width: 601px) and (max-width: 900px) {

    .assignment-area {
        width: 20%; 
    }

    #drop-area {
        width: 80%; 
    }

    #video-player,
    .rubric {
        width: 100%;
    }

    .button {
        width: auto; 
    }
}
