/* Toggle Buttons for User Type */
.user-type-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

.user-type-buttons button {
    font-size: medium;
    font-weight: bold;
    background-color: var(--light-gray);
    color: var(--charcoal);
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    margin-left: 15px;
    box-shadow: -7px -7px 20px 0 rgb(255,255,255),
                 5px  5px 10px 0 rgba(0,0,0,0.2);
  }
  
  .user-type-buttons button:hover {
    box-shadow: inset -7px -7px 20px 0 rgb(255,255,255),
                inset  5px  5px 10px 0 rgba(0,0,0,0.2);
  }

  .user-type-buttons button.active {
    color: white;
    background-color: var(--charcoal);
    box-shadow: -7px -7px 20px 0 rgb(255,255,255),
                 5px  5px 10px 0 rgba(0,0,0,0.2);
  }

/* Form Container */
.container {
    padding: 40px;
    max-width: 350px;
    background: var(--white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.container h2 {
    font-size: big;
    color: var(--charcoal);
    margin-bottom: 20px;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

#errorContainer.shake {
    animation: shake 0.3s ease;
}

#errorContainer {
    color: red; 
    font-size: 0.9em; 
}

input {
    width: 100%;
    padding: 15px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    font-size: medium;
}

/* Action Buttons (Login/Sign Up) */
button {
    width: 100%;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: var(--white);
    background-color: var(--pumpkin);
}

#login-btn:hover {
    background-color: var(--pumpkinL);
}

#switch-btn {
    background-color: var(--sunglow);
    color: var(--charcoal);
}

#switch-btn:hover {
    background-color: var(--sunglowL);
}
